# From https://www.metabase.com/docs/latest/installation-and-operation/running-metabase-on-docker#example-docker-compose-yaml-file
services:
  metabase:
    image: metabase/metabase:${METABASE_VERSION:-v0.58.1}
    hostname: metabase
    volumes:
      - /dev/urandom:/dev/random:ro
      - ./data:/home/metabase/data
    ports:
      - 127.0.0.1:$PORT:3000
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabase
      MB_DB_PORT: 5432
      MB_DB_USER: metabase
      MB_DB_PASS: postgres
      MB_DB_HOST: postgres
      MB_ANON_TRACKING_ENABLED: false
    networks:
      - metanet1
    healthcheck:
      test: curl --fail -I http://localhost:3000/api/health || exit 1
      interval: 15s
      timeout: 5s
      retries: 5
  postgres:
    image: postgres:18
    hostname: postgres
    environment:
      POSTGRES_USER: metabase
      POSTGRES_DB: metabase
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres:/var/lib/postgresql
    networks:
      - metanet1
networks:
  metanet1:
    driver: bridge
volumes:
  postgres:
