services:
  engine:
    image: supabase/stripe-sync-engine:${IMAGE_TAG:-v0.46.0}
    ports:
      - 127.0.0.1:${PORT:-8080}:8080
    environment:
      DATABASE_URL: ${DATABASE_URL}
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
      STRIPE_WEBHOOK_SECRET: ${STRIPE_WEBHOOK_SECRET}
      API_KEY: ${API_KEY}
      SCHEMA: ${POSTGRES_SCHEMA}
      BACKFILL_RELATED_ENTITIES: ${BACKFILL_RELATED_ENTITIES}
      MAX_POSTGRES_CONNECTIONS: ${MAX_POSTGRES_CONNECTIONS}
    network_mode: host
