version: '3.1'

services:

  ghost:
    image: ghost:5-alpine
    restart: always
    ports:
      - 127.0.0.1:$PORT:2368
    environment:
      PORT: ${PORT:-3000}
      # see https://ghost.org/docs/config/#configuration-options
      database__client: mysql
      database__connection__host: db
      database__connection__user: root
      database__connection__password: ${MYSQL_PASSWORD:-ghost}
      database__connection__database: ghost
      mail__from: ${MAIL_FROM:-example@example.com}
      mail__transport: SMTP
      mail__options__host: ${MAIL_HOST:-127.0.0.1}
      mail__options__port: ${MAIL_PORT:-485}
      mail__options__auth__user: ${MAIL_PORT:-username}
      mail__options__auth__pass: ${MAIL_PORT:-password}
      mail__options__secure_connection: ${MAIL_SECURE:-false}
      # this url value is just an example, and is likely wrong for your environment!
      url: ${SERVER_URL}
    volumes:
      - ghost:/var/lib/ghost/content

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD:-ghost}
    volumes:
      - db:/var/lib/mysql

volumes:
  ghost:
  db:
