services:
  code-server:
    image: codercom/code-server:latest
    ports:
      - 127.0.0.1:$PORT:$PORT
    volumes:
      - ./local:/home/coder/.local
      - ./config:/home/coder/.config
      - $PWD:/home/coder/project
    user: "$USER_UID:$USER_GID"
    environment:
      - DOCKER_USER=$USER
      - PORT=$PORT
      - PASSWORD=$PASSWORD
